.Card {
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #ffffff;
    background-color: rgb(177, 214, 238);
    padding: 10px;
    text-align: center;
    border: 2px solid #444;
}